{% extends 'todomvc/base.html' %}
{% load pera_tags i18n %}

{% block title %}AngularJS + RequireJS • {{ block.super }}{% endblock %}
{% block head_end %}
    <style>[ng-cloak] {display: none}</style>
{% endblock %}
{% block body_middle %}
    <section id="todoapp" ng-controller="TodoController">
        <header id="header">
            <h1 ng-bind="i18n.title"></h1>
            <form id="todo-form" ng-submit="addTodo()">
                <input id="new-todo" placeholder="(( i18n.form.placeholder ))" ng-model="newTodo" autofocus>
            </form>
        </header>
        <section id="main" ng-show="todos.length" ng-cloak>
            <input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
            <label for="toggle-all">(( i18n.form.all_complete ))</label>
            <ul id="todo-list">
                <li ng-repeat="todo in todos | filter:statusFilter" ng-class="{completed: todo.completed, editing: todo == editedTodo}">
                    <div class="view">
                        <input class="toggle" type="checkbox" ng-model="todo.completed">
                        <label ng-dblclick="editTodo(todo)">((todo.title))</label>
                        <button class="destroy" ng-click="removeTodo(todo)"></button>
                    </div>
                    <form ng-submit="doneEditing(todo)">
                        <input class="edit" ng-model="todo.title" todo-blur="doneEditing(todo)" todo-focus="todo == editedTodo">
                    </form>
                </li>
            </ul>
        </section>
        <footer id="footer" ng-show="todos.length" ng-cloak>
			<span id="todo-count"><strong ng-hide="remainingCount == 0">(( remainingCount )) </strong>
				<ng-pluralize count="remainingCount" when="(( i18n.pluralize.count ))"></ng-pluralize>
			</span>
            <ul id="filters">
                <li>
                    <a ng-class="{selected: location.path() == '/'} " href="#/" ng-bind="i18n.filter.all"></a>
                </li>
                <li>
                    <a ng-class="{selected: location.path() == '/active'}" href="#/active" ng-bind="i18n.filter.active"></a>
                </li>
                <li>
                    <a ng-class="{selected: location.path() == '/completed'}" href="#/completed" ng-bind="i18n.filter.completed"></a>
                </li>
            </ul>
            <button id="clear-completed" ng-click="clearDoneTodos()" ng-show="remainingCount < todos.length" ng-bind="i18n.action.clear + ' (' + (todos.length - remainingCount) + ')'" ></button>
        </footer>
    </section>
{% endblock %}
{% block js_uncompress %}
    {{ block.super }}
    {% require_with_config main='main' base_path='todomvc/angularjs_require/js/' %}
{% endblock %}
