{% extends 'base.html' %}
{% load pera_tags i18n %}

{% block title %}TodoMVC • Django{% endblock %}
{% block css_uncompress %}
    <link rel="stylesheet" href="{{ STATIC_URL }}components/todomvc-common/base.css">
{% endblock %}
{% block body_start %}
    <form action="{% url django.views.i18n.set_language %}" method="post">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ redirect_to }}" />
        <select name="language">
            {% get_current_language as current_language %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <option value="{{ language.code }}" {% ifequal language.code current_language %}selected="selected"{% endifequal %}>{{ language.name_local }} ({{ language.code }})</option>
            {% endfor %}
        </select>
        <input type="submit" value="{% trans 'Go' %}" />
    </form>
{% endblock %}
{% block body_middle %}{% endblock %}
{% block body_end %}
    <footer id="info">
        <p>{% trans 'Double-click to edit a todo' %}</p>
        <p>Written by <a href="http://addyosmani.github.com/todomvc/">Addy Osmani</a></p>
        <p>{% trans 'Part of' %} <a href="http://todomvc.com">TodoMVC</a></p>
        <p>{% trans 'Integrated with Django by' %} <a href="http://github.com/trsouz/pera">Pera project</a></p>
    </footer>
{% endblock %}
{% block js_uncompress %}
    <script src="{{ STATIC_URL }}components/todomvc-common/base.js"></script>
{% endblock %}
