{% extends 'base.html' %}
{% load pera_tags i18n %}

{% block title %}TodoMVC • Django{% endblock %}
{% block css_uncompress %}
    <link rel="stylesheet" href="{{ STATIC_URL }}components/todomvc-common/base.css">
{% endblock %}
{% block body_middle %}{% endblock %}
{% block body_end %}
    <footer id="info">
        <p>{% trans 'Double-click to edit a todo' %}</p>
        <p>Written by <a href="http://addyosmani.github.com/todomvc/">Addy Osmani</a></p>
        <p>{% trans 'Part of' %} <a href="http://todomvc.com">TodoMVC</a></p>
        <p>{% trans 'Integrated with Django by' %} <a href="http://github.com/trsouz/pera">Pera project</a></p>
    </footer>
{% endblock %}
{% block js_uncompress %}
    <script src="{{ STATIC_URL }}components/todomvc-common/base.js"></script>
{% endblock %}
