{% load i18n %}
{% load compress %}
{% load url from future %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|slice:"2" }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>{% block page_title %}{% trans "Django Require.js Example" %}{% endblock %}</title>

        {# TODO: add IE js and styles #}
        {% comment %}
            <!--[if IE]>
            <script src="../../assets/ie.js"></script>
            <![endif]-->
        {% endcomment %}

        {% compress css %}
        <link rel="stylesheet" href="/static/pera/css/reset.less" type="text/less" />
        <link rel="stylesheet" href="/static/pera/css/base.less" type="text/less" />
        <link rel="stylesheet" href="/static/pera/css/layout.less" type="text/less" />
        <link rel="stylesheet" href="/static/pera/css/module.less" type="text/less" />
        <link rel="stylesheet" href="/static/pera/css/page.less" type="text/less" />
        <link rel="stylesheet" href="/static/pera/css/state.less" type="text/less" />
        {% endcompress %}

        {% block requirejs %}
            <script>
                var require = {
                    baseUrl: '{{ STATIC_URL }}'
                };
            </script>

            <script src="{{ STATIC_URL }}components/requirejs/require.js"></script>
        {% endblock %}

        {% block javascript %}
            <script>
                var project;

                // Load the config file first to setup our requirejs enviroment.
                require(['config'], function () {
                    require(['jquery', 'main'], function (Config, $, Main) {
                        $(function () {
                            project = new Main();
                        });
                    });
                });
            </script>
        {% endblock %}
    </head>

    <body class="lang-{{ LANGUAGE_CODE }} {% block body_class %}{% endblock %}">

        {% block body %}
            {% block content %}{% endblock %}
        {% endblock body %}

    </body>
</html>
