{% extends 'base.html' %}
{% load i18n %}
{% load url from future %}
{% block title %}{% trans "Django Require.js Example" %}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/static/pera/css/reset.less" type="text/less" />
    <link rel="stylesheet" href="/static/pera/css/base.less" type="text/less" />
    <link rel="stylesheet" href="/static/pera/css/layout.less" type="text/less" />
    <link rel="stylesheet" href="/static/pera/css/module.less" type="text/less" />
    <link rel="stylesheet" href="/static/pera/css/page.less" type="text/less" />
    <link rel="stylesheet" href="/static/pera/css/state.less" type="text/less" />
{% endblock %}

{% block js %}
    <script>
        var require = {
            baseUrl: '{{ STATIC_URL }}'
        };
    </script>
    <script src="{{ STATIC_URL }}components/requirejs/require.js"></script>
    <script>
        var project;
        require(['config'], function () {
            console.log('sdf');
            require(['jquery', 'main'], function ($, Main) {
                $(function () {
                    //project = new Main();
                });
            });
        });
    </script>
{% endblock %}
{% block body_middle %}
    <section id="todoapp">
        <header id="header">
            <h1>todos</h1>
            <input id="new-todo" placeholder="What needs to be done?" autofocus>
        </header>
        <section id="main">
            <input id="toggle-all" type="checkbox">
            <label for="toggle-all">Mark all as complete</label>
            <ul id="todo-list"></ul>
        </section>
        <footer id="footer"></footer>
    </section>
    <footer id="info">
        <p>Double-click to edit a todo</p>
        <p>todo app Written by <a href="http://addyosmani.github.com/todomvc/">Addy Osmani</a>, Part of <a href="http://todomvc.com">TodoMVC</a></p>
    </footer>
{% endblock %}